<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
        <div>
            © 2023
            <a href="https://www.dmitry-rudenko.de" target="_blank" class="text-reset text-decoration-none">
                www.dmitry-rudenko.de
            </a>
        </div>
        <div class="end-0">
            <a href="https://www.dmitry-rudenko.de/impressum" target="_blank" class="text-reset text-decoration-none end-0">
                Impressum
            </a>
        </div>
    </div>
</nav>