{% extends "base.html" %}

{% block head_additional %}
<link rel="stylesheet" type="text/css" href="/static/css/password.css"/>
<script src="/static/js/password.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>{{ title }}</h1>

        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="col-12 col-xl-6 mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" required/>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>

            <div class="col-12 col-xl-6 mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" required/>
            </div>

            <div class="col-12 col-xl-6 mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="input-group d-flex">
                    <input
                            type="password"
                            class="form-control rounded mt-1"
                            placeholder="Type your password"
                            aria-label="password"
                            aria-describedby="password"
                            id="password" name="password"
                            required
                    />
                    <div class="valid-feedback">Good</div>
                    <div class="invalid-feedback">Wrong</div>
                </div>
            </div>
            <div class="col-12 col-xl-6 mb-3">
                <div
                        class="alert px-4 py-3 mb-0 alert-warning"
                        role="alert"
                        data-mdb-color="warning"
                        id="password-alert"
                >
                    <ul class="list-unstyled mb-0">
                        <li class="requirements leng">
                            <i class="fas fa-check text-success me-2"></i>
                            <i class="fas fa-times text-danger me-3"></i>
                            Your password must have at least 8 chars
                        </li>
                        <li class="requirements big-letter">
                            <i class="fas fa-check text-success me-2"></i>
                            <i class="fas fa-times text-danger me-3"></i>
                            Your password must have at least 1 big letter
                        </li>
                        <li class="requirements num">
                            <i class="fas fa-check text-success me-2"></i>
                            <i class="fas fa-times text-danger me-3"></i>
                            Your password must have at least 1 number
                        </li>
                        <li class="requirements special-char">
                            <i class="fas fa-check text-success me-2"></i>
                            <i class="fas fa-times text-danger me-3"></i>
                            Your password must have at least 1 special char
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-12 mb-3">
                <h3>Terms and conditions</h3>
                <ul>
                    <li>We use only one cookie to store your session data. This applies to users who are logged in.</li>
                    <li>All data is stored on our servers located in Germany. We do not share the data with any other
                        companies.
                    </li>
                    <li>We did our best to protect your data from leaks, but unfortunately we cannot guarantee that it
                        will not
                        be stolen by third parties.
                    </li>
                    <li>For any questions - <a href="mailto:360@dmitry-rudenko.de"
                                               target="_blank">360@dmitry-rudenko.de</a>
                    </li>
                </ul>
            </div>

            <div class="col-12 form-check">
                <input class="form-check-input" type="checkbox" id="cookies" name="cookies" required>
                <label class="form-check-label" for="cookies">
                    I agree with the terms and conditions of use.
                </label>
            </div>

            <div class="col-12 col-xl-6 mt-4 mb-3">
                <button type="submit" class="btn btn-outline-secondary" id="signUpButton" disabled>Sign Up</button>
            </div>

        </form>
    </div>
</div>
{% endblock %}